@charset "UTF-8";
/* line 2, ../../sass/_forms.sass */
.form label {
  display: block;
}
/* line 5, ../../sass/_forms.sass */
.form input, .form select, .form textarea {
  display: block;
  width: 200px;
  font-size: 18px;
  margin-top: 5px;
  padding: 3px 5px;
  border: 1px solid #aaa;
  border-radius: 5px;
}
/* line 14, ../../sass/_forms.sass */
.form textarea {
  width: 100%;
  height: 100px;
}
/* line 18, ../../sass/_forms.sass */
.form input[type=submit] {
  width: 100px;
  background-color: #303236;
  color: #CA4984;
  border-color: #CA4984;
  padding: 5px;
}
/* line 25, ../../sass/_forms.sass */
.form .helptext {
  display: block;
  font-size: smaller;
  color: #777;
}
/* line 30, ../../sass/_forms.sass */
.form ul.errorlist {
  display: block;
  margin: 10px 0;
  padding: 0;
}
/* line 35, ../../sass/_forms.sass */
.form ul.errorlist li {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #CA4984;
}

/* line 4, ../../sass/_layout.sass */
* {
  box-sizing: border-box;
}

/* line 7, ../../sass/_layout.sass */
body {
  margin: 0;
}

/* line 10, ../../sass/_layout.sass */
header,
footer {
  color: #CA4984;
  margin: 0 auto;
}
/* line 14, ../../sass/_layout.sass */
header h1,
footer h1 {
  position: relative;
  display: inline;
  margin: 0;
  padding-left: 80px;
}
@media (max-width: 750px) {
  /* line 14, ../../sass/_layout.sass */
  header h1,
  footer h1 {
    padding-left: 70px;
  }
}
/* line 21, ../../sass/_layout.sass */
header h1:before,
footer h1:before {
  content: "";
  position: absolute;
  display: block;
  height: 70px;
  width: 70px;
  background-image: url("../svg/logo.svg");
  background-size: 100%;
  top: -15px;
}
@media (max-width: 750px) {
  /* line 21, ../../sass/_layout.sass */
  header h1:before,
  footer h1:before {
    height: 60px;
    width: 60px;
  }
}
/* line 33, ../../sass/_layout.sass */
header h1 a,
footer h1 a {
  color: #CA4984;
}
/* line 35, ../../sass/_layout.sass */
header h1 a:hover,
footer h1 a:hover {
  color: #CA4984;
}

/* line 40, ../../sass/_layout.sass */
footer nav ul {
  margin: 0;
}

/* line 43, ../../sass/_layout.sass */
header {
  padding: 20px 0;
}

/* line 46, ../../sass/_layout.sass */
article {
  margin-bottom: 15px;
}

/* line 49, ../../sass/_layout.sass */
footer {
  padding: 15px 0;
  background-color: #eee;
}

/* line 53, ../../sass/_layout.sass */
.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1200px) {
  /* line 59, ../../sass/_layout.sass */
  .container {
    width: 910px;
  }
}
@media (max-width: 950px) {
  /* line 63, ../../sass/_layout.sass */
  .container {
    width: 100%;
  }
}

/* line 66, ../../sass/_layout.sass */
.flex-sections {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -30px;
}
@media (max-width: 750px) {
  /* line 74, ../../sass/_layout.sass */
  .flex-sections {
    margin: 0;
  }
}
/* line 77, ../../sass/_layout.sass */
.flex-sections section {
  width: 33.333%;
  padding: 0 30px;
}
@media (max-width: 1200px) {
  /* line 82, ../../sass/_layout.sass */
  .flex-sections section {
    width: 50%;
  }
}
@media (max-width: 750px) {
  /* line 86, ../../sass/_layout.sass */
  .flex-sections section {
    width: 100%;
    padding: 0;
  }
}

/* line 1, ../../sass/_messages.sass */
section.messages {
  background-color: #efefef;
  overflow: auto;
}
/* line 5, ../../sass/_messages.sass */
section.messages .success:before {
  content: "✅";
  margin-right: 4px;
}

/* line 1, ../../sass/_typography.sass */
body {
  font-family: "Open Sans", sans-serif;
  color: #303236;
}

/* line 5, ../../sass/_typography.sass */
a {
  text-decoration: none;
  color: #303236;
}
/* line 8, ../../sass/_typography.sass */
a:hover {
  text-decoration: underline;
}

/* line 11, ../../sass/_typography.sass */
h1 {
  font-size: 30px;
  font-weight: normal;
}
@media (max-width: 750px) {
  /* line 11, ../../sass/_typography.sass */
  h1 {
    font-size: 22px;
  }
}

/* line 18, ../../sass/_typography.sass */
h2 {
  font-size: 22px;
  font-weight: normal;
}
@media (max-width: 750px) {
  /* line 18, ../../sass/_typography.sass */
  h2 {
    font-size: 20px;
    margin: 10px 0;
  }
}

/* line 26, ../../sass/_typography.sass */
p {
  font-size: 18px;
}
@media (max-width: 750px) {
  /* line 26, ../../sass/_typography.sass */
  p {
    font-size: 16px;
    margin: 5px 0;
  }
}

/* line 33, ../../sass/_typography.sass */
sup {
  vertical-align: top;
  font-size: small;
}

/* line 11, ../../sass/base.sass */
header {
  background-color: #303236;
}
