/* line 4, ../../sass/_layout.sass */
* {
  box-sizing: border-box;
}

/* line 7, ../../sass/_layout.sass */
body {
  margin: 0;
}

/* line 10, ../../sass/_layout.sass */
header,
footer {
  color: #CA4984;
  margin: 0 auto;
}
/* line 14, ../../sass/_layout.sass */
header h1,
footer h1 {
  display: inline;
  margin: 0;
}
/* line 17, ../../sass/_layout.sass */
header h1 a,
footer h1 a {
  color: #CA4984;
}
/* line 19, ../../sass/_layout.sass */
header h1 a:hover,
footer h1 a:hover {
  color: #CA4984;
}

/* line 24, ../../sass/_layout.sass */
footer nav ul {
  margin: 0;
}

/* line 27, ../../sass/_layout.sass */
header {
  margin-bottom: 15px;
  padding: 20px 0;
}

/* line 31, ../../sass/_layout.sass */
footer {
  margin-top: 15px;
  padding: 15px 0;
  background-color: #eee;
}

/* line 36, ../../sass/_layout.sass */
.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1200px) {
  /* line 42, ../../sass/_layout.sass */
  .container {
    width: 910px;
  }
}
@media (max-width: 950px) {
  /* line 46, ../../sass/_layout.sass */
  .container {
    width: 100%;
  }
}

/* line 49, ../../sass/_layout.sass */
.flex-sections {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -30px;
}
@media (max-width: 750px) {
  /* line 55, ../../sass/_layout.sass */
  .flex-sections {
    margin: 0;
  }
}
/* line 58, ../../sass/_layout.sass */
.flex-sections section {
  width: 33.333%;
  padding: 0 30px;
}
@media (max-width: 1200px) {
  /* line 63, ../../sass/_layout.sass */
  .flex-sections section {
    width: 50%;
  }
}
@media (max-width: 750px) {
  /* line 67, ../../sass/_layout.sass */
  .flex-sections section {
    width: 100%;
    padding: 0;
  }
}

/* line 1, ../../sass/_typography.sass */
body {
  font-family: "Open Sans", sans-serif;
  color: #303236;
}

/* line 5, ../../sass/_typography.sass */
a {
  text-decoration: none;
  color: #303236;
}
/* line 8, ../../sass/_typography.sass */
a:hover {
  text-decoration: underline;
}

/* line 11, ../../sass/_typography.sass */
h1 {
  font-size: 30px;
  font-weight: normal;
}
@media (max-width: 750px) {
  /* line 11, ../../sass/_typography.sass */
  h1 {
    font-size: 22px;
  }
}

/* line 18, ../../sass/_typography.sass */
h2 {
  font-size: 22px;
  font-weight: normal;
}
@media (max-width: 750px) {
  /* line 18, ../../sass/_typography.sass */
  h2 {
    font-size: 20px;
    margin: 10px 0;
  }
}

/* line 26, ../../sass/_typography.sass */
p {
  font-size: 18px;
}
@media (max-width: 750px) {
  /* line 26, ../../sass/_typography.sass */
  p {
    font-size: 16px;
    margin: 5px 0;
  }
}

/* line 33, ../../sass/_typography.sass */
sup {
  vertical-align: top;
  font-size: small;
}

/* line 8, ../../sass/base.sass */
header {
  background-color: #303236;
}
