/* line 4, ../../sass/_layout.sass */
* {
  box-sizing: border-box;
}

/* line 7, ../../sass/_layout.sass */
body {
  margin: 0;
}

/* line 10, ../../sass/_layout.sass */
header,
footer {
  color: #CA4984;
  margin: 0 auto;
}
/* line 14, ../../sass/_layout.sass */
header h1,
footer h1 {
  display: inline;
  margin: 0;
}
/* line 17, ../../sass/_layout.sass */
header h1 a,
footer h1 a {
  color: #CA4984;
}
/* line 19, ../../sass/_layout.sass */
header h1 a:hover,
footer h1 a:hover {
  color: #CA4984;
}

/* line 24, ../../sass/_layout.sass */
footer nav ul {
  margin: 0;
}

/* line 27, ../../sass/_layout.sass */
header {
  margin-bottom: 15px;
  padding: 20px 0;
}

/* line 31, ../../sass/_layout.sass */
footer {
  margin-top: 15px;
  padding: 15px 0;
  background-color: #eee;
}

/* line 36, ../../sass/_layout.sass */
.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

/* line 41, ../../sass/_layout.sass */
.row-wrapper {
  margin: 0 -15px;
  padding: 0 15px;
}

/* line 45, ../../sass/_layout.sass */
.row {
  overflow: hidden;
  *zoom: 1;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 10px;
}

/* line 51, ../../sass/_layout.sass */
.col1, .col2, .col3, .col4, .col5, .col6 {
  float: left;
  padding: 0 15px;
}

/* line 55, ../../sass/_layout.sass */
.col6 {
  width: 100%;
}

/* line 58, ../../sass/_layout.sass */
.col5 {
  width: 83.33333%;
}

/* line 61, ../../sass/_layout.sass */
.col4 {
  width: 66.66667%;
}

/* line 64, ../../sass/_layout.sass */
.col3 {
  width: 50%;
}

/* line 67, ../../sass/_layout.sass */
.col2 {
  width: 33.33333%;
}

/* line 70, ../../sass/_layout.sass */
.col1 {
  width: 16.66667%;
}

/* line 73, ../../sass/_layout.sass */
.offset1 {
  margin-left: 16.66667%;
}

/* line 76, ../../sass/_layout.sass */
.offset2 {
  margin-left: 33.33333%;
}

/* line 79, ../../sass/_layout.sass */
.offset3 {
  margin-left: 50%;
}

/* line 82, ../../sass/_layout.sass */
.offset4 {
  margin-left: 66.66667%;
}

/* line 85, ../../sass/_layout.sass */
.offset5 {
  margin-left: 83.33333%;
}

@media (max-width: 1200px) {
  /* line 89, ../../sass/_layout.sass */
  .container {
    width: 910px;
  }
}
@media (max-width: 950px) {
  /* line 93, ../../sass/_layout.sass */
  .container {
    width: 100%;
  }

  /* line 96, ../../sass/_layout.sass */
  .col1, .col2, .col3, .col4, .col5 {
    width: 100%;
  }

  /* line 99, ../../sass/_layout.sass */
  .offset1, .offset2, .offset3, .offset4, .offset5 {
    margin-left: 0;
  }
}
/* line 1, ../../sass/_typography.sass */
body {
  font-family: "Open Sans", sans-serif;
  color: #303236;
}

/* line 5, ../../sass/_typography.sass */
a {
  text-decoration: none;
  color: #303236;
}
/* line 8, ../../sass/_typography.sass */
a:hover {
  text-decoration: underline;
}

/* line 11, ../../sass/_typography.sass */
p {
  font-size: 20px;
}

/* line 8, ../../sass/base.sass */
header {
  background-color: #303236;
}
