{% extends 'base.html' %}

{% block content %}

{% if beginners %}
<h2>Beginners courses</h2>
<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Dates</th>
                <th>Fee</th>
                <th>Paid</th>
            </tr>
        </thead>
        <tbody>
            {% for beginner in beginners %}
            <tr>
                <td>{{ beginner.name }}</td>
                <td>{{ beginner.get_age_display }} {% if beginner.date_of_birth %}({{ beginner.date_of_birth }}){% endif %}</td>
                <td>
                    {% for session in beginner.course.beginnerscoursesession_set.all %}
                    {{ session.time_string }}<br>
                    {% endfor %}
                </td>
                <td>£{{ beginner.fee }}</td>
                <td>{{ beginner.paid|yesno:"Yes,No" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if beginners_to_pay %}
<h2>Pay £{{ beginners_to_pay }}</h2>
<form action="{% url 'beginners:payment' %}" method="POST">
    {% csrf_token %}
    <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="{{ STRIPE_KEY }}"
        data-email="{{ user.email }}"
        data-currency="GBP"
        data-amount="{{ beginners_to_pay }}00"
        data-name="Wallingford Castle Archers"
        data-description="Beginners courses"
        data-locale="auto">
    </script>
</form>
{% endif %}
{% endif %}

{% if members %}
<h2>Events</h2>
<a href="{% url 'events:event-list' %}">Book a club event ></a>

<h2>Courses</h2>
<a href="{% url 'courses:members-course-list' %}">Book a course ></a>

<h2>Members</h2>
<p>Monthly charge: £{{ monthly_fee }}</p>
<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Membership</th>
                <th>ArcheryGB number</th>
                <th>Monthly fee</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
            <tr>
                <td>{{ member.archer.name }}</td>
                <td>{{ member.archer.get_age_display }} {% if member.archer.date_of_birth %}({{ member.archer.date_of_birth }}){% endif %}</td>
                <td>{{ member.get_membership_type_display }}</td>
                <td>{{ member.archer.agb_number|default:"Unknown" }}</td>
                <td>£{{ member.plan_cost }}</td>
                <td>
                    <a class="btn btn-small" href="{% url 'membership:member-update' member_id=member.pk %}">Edit details</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if user.customer_id %}
<h2>Update your payment details</h2>
{% else %}
<h2>Add your payment details</h2>
{% endif %}
<form action="{% url 'membership:payment-details' %}" method="POST">
    {% csrf_token %}
    <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="{{ STRIPE_KEY }}"
        data-email="{{ user.email }}"
        data-currency="GBP"
        data-amount="{{ monthly_fee }}00"
        data-name="Wallingford Castle Archers"
        data-description="Club Membership (monthly)"
        data-locale="auto">
    </script>
</form>
{% endif %}
<p><small>
Payments are processed securely using Stripe. Wallingford Castle Archers does
not store your credit card details. You will be billed monthly for all the
membership associated with your account. If you have any problems, please
contact the committee. Charges will be shown on your account as WALLINGFORD C.
ARCHERS.
</small></p>

{% endblock content %}
