{% extends 'base.html' %}

{% block content %}

{% if beginners %}
<h2>Beginners courses</h2>
<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Dates</th>
                <th>Fee</th>
                <th>Paid</th>
            </tr>
        </thead>
        <tbody>
            {% for beginner in beginners %}
            <tr>
                <td>{{ beginner.name }}</td>
                <td>{{ beginner.get_age_display }} {% if beginner.date_of_birth %}({{ beginner.date_of_birth }}){% endif %}</td>
                <td>
                    {% for session in beginner.course.beginnerscoursesession_set.all %}
                    {{ session.time_string }}<br>
                    {% endfor %}
                </td>
                <td>£{{ beginner.fee }}</td>
                <td>{{ beginner.paid|yesno:"Yes,No" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if beginners_to_pay %}
<h2>Pay £{{ beginners_to_pay }}</h2>
<form action="{% url 'beginners:payment' %}" method="POST">
    {% csrf_token %}
    <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="{{ STRIPE_KEY }}"
        data-email="{{ user.email }}"
        data-currency="GBP"
        data-amount="{{ beginners_to_pay }}00"
        data-name="Wallingford Castle Archers"
        data-description="Beginners courses"
        data-locale="auto">
    </script>
</form>
{% endif %}
{% endif %}

<h2>Courses</h2>
{% if course_attendees %}
<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Member</th>
                <th>Course</th>
                <th>Fee</th>
                <th>Paid</th>
            </tr>
        </thead>
        <tbody>
            {% for attendee in course_attendees %}
            <tr>
                <td>{{ attendee.archer.name }}</td>
                <td>{{ attendee.member|yesno:"Yes,No" }}</td>
                <td>{{ attendee.course }}</td>
                <td>£{{ attendee.fee }}</td>
                <td>{{ attendee.paid|yesno:"Yes,No" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if course_fees_to_pay %}
<h4>You have £{{ course_fees_to_pay }} outstanding to pay for courses</h4>
<form action="{% url 'courses:non-members-payment' %}" method="POST">
    {% csrf_token %}
    <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="{{ STRIPE_KEY }}"
        data-email="{{ user.email }}"
        data-currency="GBP"
        data-amount="{{ course_fees_to_pay }}00"
        data-name="Wallingford Castle Archers"
        data-description="{{ courses_to_pay_description }}"
        data-locale="auto">
    </script>
</form>
{% endif %}

{% if members %}
    <p>
    <a href="{% url 'courses:members-course-list' %}">Book a club member on a course ></a>
    </p>
{% endif %}


{% if members %}
    <h2>Events</h2>
    <a href="{% url 'events:event-list' %}">Book a club event ></a>

    <h2>Members</h2>
    <div class="flex-sections">
        {% for member in members %}
        <section>
            <div class="member-block">
                <dl>
                    <dt>Name</dt>
                    <dd>{{ member.archer.name }}</dd>
                    <dt>Age</dt>
                    <dd>{{ member.archer.get_age_display }} {% if member.archer.date_of_birth %}({{ member.archer.date_of_birth }}){% endif %}</dd>
                    <dt>Membership</dt>
                    <dd>{{ member.get_membership_type_display }}</dd>
                    <dt>ArcheryGB number</dt>
                    <dd>{{ member.archer.agb_number|default:"Unknown" }}</dd>
                    <dt>Monthly Fee</dt>
                    <dd>£{{ member.plan_cost }}</dd>
                </dl>
                <a class="btn btn-small" href="{% url 'membership:member-update' member_id=member.pk %}">Edit details</a>
                {% if member.achievements %}
                    <h3>Badges</h3>
                    <ul>
                        {% for achievement in member.achievements %}
                        <li>{{ achievement.get_badge_display }} {% if achievement.date_awarded %}<small>{{ achievement.date_awarded }}</small>{% endif %}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </section>
        {% endfor %}
    </div>

    {% if monthly_fee %}
    {% if user.customer_id %}
    <h2>Update your payment details</h2>
    {% else %}
    <h2>Add your payment details</h2>
    {% endif %}
    <p>Monthly charge: £{{ monthly_fee }}</p>
    <form action="{% url 'membership:payment-details' %}" method="POST">
        {% csrf_token %}
        <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ STRIPE_KEY }}"
            data-email="{{ user.email }}"
            data-currency="GBP"
            data-amount="{{ monthly_fee }}00"
            data-name="Wallingford Castle Archers"
            data-description="Club Membership (monthly)"
            data-locale="auto">
        </script>
    </form>
    <p><small>
    Payments are processed securely using Stripe. Wallingford Castle Archers does
    not store your credit card details. You will be billed monthly for all the
    membership associated with your account. If you have any problems, please
    contact the committee. Charges will be shown on your account as WALLINGFORD C.
    ARCHERS.
    </small></p>
    {% endif %}
{% endif %}

{% endblock content %}
