{% extends 'base.html' %}

{% block content %}
<h2>Members</h2>
<!-- TODO table styling -->
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Membership</th>
            <th>ArcheryGB number</th>
            <th>Paid until</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
        <tr>
            <td>{{ member.name }}</td>
            <td>{{ member.get_age_display }} {% if member.date_of_birth %}({{ member.date_of_birth }}){% endif %}</td>
            <td>{{ member.get_membership_type_display }}</td>
            <td>{{ member.agb_number|default:"Unknown" }}</td>
            <td>{{ member.paid_until|default:'<span class="error">Not paid</span>' }}</td>
            <td>
                <a href="{% url 'membership:member-update' member_id=member.pk %}">Edit details</a>
                <!-- TODO edit payment -->
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h2>Add your payment details</h2>
<form action="{% url 'membership:payment-details' %}" method="POST">
    {% csrf_token %}
    <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="{{ STRIPE_KEY }}"
        data-email="{{ user.email }}"
        data-amount="{{ TODO }}{{ total_membership_cost }}"
        data-name="Wallingford Castle Archers"
        data-description="Club Membership"
        data-image="{{ TODO }}"
        data-locale="auto">
    </script>
</form>
{% endblock content %}
