{% extends 'base.html' %}

{% block content %}
<p><a href="{% url 'membership:overview' %}">< Back to membership overview</a></p>
<h2>Range bookings</h2>
<div id="app-range-booking"></div>
<p>
    To book a session, select an upcoming club day and find an available slot. You can then select the archer(s) who will be attending.
</p>
<p>
    Junior Archers who have achieved their white arrow award and have their own equipment may attend open shooting slots, but they need to have only one non-shooting family member present on the range. Junior members can also be supervised by a coach or shooting parent.
</p>
{% endblock %}
