{% extends 'base.html' %}

{% block content %}
<p><a href="{% url 'membership:overview' %}">< Back to membership overview</a></p>
<h2>Range bookings</h2>
<div id="app-range-booking"></div>
<p>
    To book a session, select an upcoming club day and find an available slot. You can then select the archer(s) who will be attending and set a distance.
</p>
<p>
    Open indoor sessions are available on Fridays and Sundays. Please do not book these sessions until the day of shooting if you are in a training group, and only book one session per week. Our priority will be to make sure that all members get to shoot once per week.
</p>
<p>
    We have open outdoor shooting on Saturday afternoons. These sessions are not subject to the same restrictions as Fridays and Sundays, but you must have your own equipment.
</p>
{% endblock %}
