{% extends 'base.html' %}

{% block content %}
<p><a href="{% url 'membership:overview' %}">< Back to membership overview</a></p>
<h2>Range bookings</h2>
<div id="app-range-booking"></div>
<p>
    To book a session, select an upcoming club day and find an available slot. You can then select the archers who will be attending and set a distance.
</p>
<p>
    Where possible, please try to use lanes which are already in use that day, and keep longer distances to the left of the range. If you are the first or last person using that lane in the day you will be responsible for getting your target out and putting it away.
</p>
<p>
    This website feature is still quite rough around the edges, if you have any problems please contact <a href="mailto:marc.tamlyn@gmail.com">Marc</a>. Upcoming features include extending sessions and non-club session bookings.
</p>
{% endblock %}
