{% extends 'base.html' %}

{% block title %}Venues | {% endblock %}
{% block og_image %}wsp-rainbow{% endblock %}

{% block hero %}
<div class="hero hero--wsp-rainbow">
    <h1>Venues</h1>
</div>
{% endblock %}

{% block content %}
<div class="flex-sections">
    <section>
        <h2>Indoor shooting</h2>
        <p>
        Indoor sessions run from October to March. We shoot at a number of
        school venues near to Wallingford. We run several open club session per
        week, as well as a wide range of training groups.
        </p>
        {% for venue in indoor %}
        <h3>{{ venue }}</h3>
        <p>{{ venue.description|linebreaksbr }}</p>
        <iframe
            width="100%"
            height="300"
            frameborder="0" style="border:0"
            src="{{ venue.google_maps_link }}" allowfullscreen>
        </iframe>
        {% endfor %}
   </section>
    <section>
        <h2>Outdoor shooting</h2>
        <p>
        Outdoor sessions run from April to September. Club sessions typically
        run on Wednesday, Friday and Sunday, but the range is open most days of
        the week to more experienced members.
        </p>
        {% for venue in outdoor %}
        <h3>{{ venue }}</h3>
        <p>{{ venue.description|linebreaksbr }}</p>
        <iframe
            width="100%"
            height="300"
            frameborder="0" style="border:0"
            src="{{ venue.google_maps_link }}" allowfullscreen>
        </iframe>
        {% endfor %}
    </section>
    <section>
        <h2>Under 18s</h2>
        <p>
        Wallingford Castle Archers aim to make archery as accessible as
        possible for young people. However, we also have to ensure that we
        follow safeguarding guidance and help to keep every child safe.
        </p>
        <p>
        Those children of primary school age (up to 11) are classified as
        "minis", with older children under the age of 18 classified as
        "juniors".
        </p>
        <p>
        Minis members may only attend minis sessions. Parents do not need to
        stay for minis sessions. However, those in year 5 or 6 who have
        attained their white arrow award may be invited to attend other
        sessions. For the junior session, parents may leave the child with us.
        For other sessions, they must stay.
        </p>
        <p>
        Junior members may attend open sessions with parental supervision. When
        they have achieved their blue arrow award and have their own equipment
        (moved up to Junior Team level) they may shoot without supervision at
        most sessions, subject to availability and communication with coaches.
        </p>
    </section>
</div>
{% endblock %}
