{% extends 'base.html' %}

{% load floppyforms %}

{% block content %}
<p><a href="{% url 'events:event-list' %}">< Back to event list</a></p>
{{ course.description|linebreaks }}
<h4>Dates</h4>
<ul>
    {% for session in course.session_set.all %}
    <li>{{ session.start_time }}</li>
    {% endfor %}
</ul>
<h4>Book</h4>
<p>Course cost: £{{ course.members_price }}<br><small>The cost of the course will be added to the next membership invoice</small></p>
<form class="form" method="POST" action=".">
    {% csrf_token %}
    {% form form using 'floppyforms/layouts/p.html' %}
    <input type="submit" class="btn">
</form>
{% endblock %}
