[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[requires]
python_version = "3.12"

[dev-packages]

[packages]
"dj-database-url" = "*"
django-braces = "*"
django-custom-user = "*"
django-debug-toolbar = "*"
django-object-actions = "*"
django = "*"
gunicorn = "*"
"psycopg2" = "*"
python-dateutil = "*"
requests = "*"
"static3" = "*"
stripe = "*"
whitenoise = "*"
"psycopg2-binary" = "*"
attrs = "*"
sentry-sdk = "*"
django-webpack-loader = "*"
factory-boy = "*"
isort = "*"
flake8 = "*"
faker = "*"
sendgrid = "*"
django-render-block = "*"
