dj-database-url==0.4.2
dj-static==0.0.6
Django==1.10.5
django-braces==1.10
django-custom-user==0.7
django-debug-toolbar==1.6
django-floppyforms==1.7.0
django-object-actions==0.9.0
django-sslify==0.2.7
gunicorn==19.6.0
psycopg2==2.6.1
requests==2.13.0
six==1.10.0
sqlparse==0.1.18
static3==0.7.0
stripe==1.46.0
wheel==0.26.0

# Py3 compatible fork (collinanderson) + upstream changes for Django 1.8
-e git+https://github.com/mjtamlyn/django-templated-email@cc5a94a2c53455c256e7b6f791df03a9971c3bcb#egg=django-templated-email
