{% extends 'base.html' %}

{% block og_image %}photocrowd{% endblock %}

{% block hero %}
<div class="hero hero--photocrowd">
    <h1>Archery Events</h1>
</div>
{% endblock %}

{% block content %}
<section class="intro">
    <p>
    If you're looking for an archery experience, Wallingford Castle Archers
    would love to help you.
    </p>
    <p>
    Whether it's a birthday party, stag or hen do, school taster session or
    corporate team building event, we can create the perfect archery event for
    you.
    </p>
    <p>
    <a href="mailto:hello@wallingfordcastle.co.uk" class="btn">Ask us about your event</a>
    </p>
</section>
<div class="flex-sections">
    <section>
        <h2>Archery parties</h2>
        <p>
        Our archery parties offer a two hour introduction to the sport. We
        cover safety, how to shoot the bow, and finish with some competition.
        </p>
        <p>
        Archery parties are ideal for birthday parties, stag or hen dos, or
        other family events. We cater for all ages from 6 years upwards in
        groups of 4 to 24 people.
        </p>
        <p>
        <a href="mailto:hello@wallingfordcastle.co.uk" class="btn">Book a party</a>
        </p>
    </section>
    <section>
        <h2>Schools</h2>
        <p>
        We offer archery taster days for primary and secondary schools. Ideal
        for an off-curriculum day, a unique physical education lesson, or tied
        in with history or science lessons.
        </p>
        <p>
        We also run regular school archery clubs. We provide all equipment and
        qualified coaches, and can handle administration for you.
        </p>
        <p>
        <a href="mailto:hello@wallingfordcastle.co.uk" class="btn">Book an event</a>
        </p>
    </section>
    <section>
        <h2>Corporate events</h2>
        <p>
        Looking for a unique team building activity day? Archery events provide
        a great opportunity for your team to connect outside of the work
        environment.
        </p>
        <p>
        We are able to travel to your campus if you have a suitable space for
        the activity. If you wish to visit us, we can also offer catering and
        meeting space.
        </p>
        <a href="mailto:hello@wallingfordcastle.co.uk" class="btn">Get a quote</a>
        </p>
    </section>
</div>
{% endblock %}
