{% extends 'base.html' %}

{% block og_image %}scoring{% endblock %}

{% block hero %}
<div class="hero hero--tournaments-list">
    <h1>Tournaments</h1>
</div>
{% endblock %}

{% block content %}
<div class="flex-sections">
    <section>
        <h2>Upcoming open tournaments</h2>
        <p>
        We look forwards to welcoming you to Wallingford Castle Archers for a
        tournament.
        </p>
        {% for tournament in upcoming_tournaments %}
        <h3>{{ tournament }}</h3>
        <p><strong>{{ tournament.date|date:"jS F Y" }}</strong></p>
        <p>
        {% for round in tournament.labelled_rounds %}
        {{ round }}
        {% if not forloop.last %}<br />{% endif %}
        {% endfor %}
        </p>
        <a href="{{ tournament.get_absolute_url }}" class="btn">Find out more</a>
        {% endfor %}

        {% for series in upcoming_series %}
        <h3>{{ series }}</h3>
        <p><strong>Starting {{ series.date|date:"jS F Y" }}</strong></p>
        {{ series.event_format|linebreaks }}
        <a href="{{ series.get_absolute_url }}" class="btn">Find out more</a>
        {% endfor %}

        {% if not upcoming_tournaments and not upcoming_series %}
        <p>
        We don't have any future shoots confirmed yet, but watch this space and
        follow us on
        <a href="https://www.facebook.com/wallingfordcastlearchers/">Facebook</a>
        to find out first when we open entries.
        {% endif %}
    </section>
    <section class="double">
        <h2>Past open tournaments</h2>
        <p>
        Wallingford Castle Archers run a wide range of open Tournaments, aimed
        at a range of ages and abilities. We also run events on behalf of
        Oxfordshire and Archery GB.
        </p>
        {% for tournament in past_tournaments %}
        {% ifchanged tournament.date.year %}
        <h3>{{ tournament.date.year }}</h3>
        {% endifchanged %}
        <dt class="inline">{{ tournament.date|date:"jS F" }}</dt>
        <dd class="inline"><a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a></dd>
        <br>
        {% endfor %}
        </ul>
    </section>
</div>
{% endblock %}
