{% extends 'base.html' %}

{% block og_image %}scoring{% endblock %}

{% block hero %}
<div class="hero hero--scoring">
    <h1>Tournaments</h1>
</div>
{% endblock %}

{% block content %}
<div class="flex-sections">
    <section>
        <h2>Upcoming open tournaments</h2>
        <p>
        We look forwards to welcoming you to Wallingford Castle Archers for a
        tournament.
        </p>
        {% for tournament in upcoming_tournaments %}
        <h3>{{ tournament }}</h3>
        <p><strong>{{ tournament.date|date:"jS F Y" }}</strong></p>
        {{ tournament.rounds|linebreaks }}
        <a href="{{ tournament.get_absolute_url }}" class="btn">Find out more</a>
        {% empty %}
        <p>
        We don't have any future shoots confirmed yet, but watch this space and
        follow us on
        <a href="https://www.facebook.com/wallingfordcastlearchers/">Facebook</a>
        to find out first when we open entries.
        {% endfor %}
    </section>
    <section>
        <h2>Past open tournaments</h2>
        <p>
        Wallingford Castle Archers run regular open World Record Status events,
        as well as other shoots like the Oxfordshire Indoor Championships and
        the Castle Junior Archery League.
        </p>
        <ul>
            {% for tournament in past_tournaments %}
            <li><a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a> - {{ tournament.date|date:"jS F Y" }}</li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h2>Other tournaments</h2>
        <p>
        Watch out for the pink shirts of WCA at some of these upcoming events
        in the local area!
        </p>
        <ul>
            {% for event in bookable_events %}
            <li>{{ event }} - {{ event.date|date:"jS F Y" }}</li>
            {% endfor %}
        </ul>
    </section>
</div>
{% endblock %}
