{% extends 'base.html' %}

{% block og_image %}{% if tournament.indoors %}indoors{% else %}outdoors{% endif %}{% endblock %}

{% block hero %}
<div class="hero hero--short hero--tournaments-{% if tournament.indoors %}indoor{% else %}outdoor{% endif %}">
    <h1>{{ tournament }}</h1>
</div>
{% endblock %}

{% block content %}
<div class="tournament-enter-block" id="app-tournament-entry" data-tournament="{{ tournament.pk }}">
    <h3 class="no-border">Entry is open</h3>
    <a class="btn">Enter</a>
</div>
<div class="flex-sections tournament-prospectus">
    <section>
        <h2>Prospectus</h2>

        {% if not tournament.is_series %}
        <h3>Date</h3>
        <p>
        {{ tournament.date|date:"jS F Y" }}
        </p>
        {% endif %}

        {% if tournament.series %}
        <p>This event is a part of <strong><a href="{{ tournament.series.get_absolute_url }}">{{ tournament.series }}</a></strong>. Enter all events for a discount!</p>
        {% elif tournament.is_series %}
        <p>This is a series of events through the season. Enter all events here for a discount, or enter individual events with the links below.</p>
        <h3>Events</h3>
        {% for t in tournament.ordered_tournaments %}
        <dt>{{ t.date|date:"jS F" }}</dt>
        <dd><a href="{{ t.get_absolute_url }}">{{ t }}</a></dd>
        {% endfor %}
        {% endif %}

        <h3>Event Format</h3>
        <p>
        {% for round in tournament.labelled_rounds %}
        <strong>{{ round }}</strong>
        {% if not forloop.last %}<br />{% endif %}
        {% endfor %}
        </p>
        {{ tournament.event_format|linebreaks }}

        <h3>Timing</h3>
        {{ tournament.timing|linebreaks }}

        <h3>Judges</h3>
        {{ tournament.judges|linebreaks }}

        <h3>Tournament Organiser</h3>
        <p><a href="mailto:{{ tournament.tournament_organiser_email }}">{{ tournament.tournament_organiser }}</a></p>
    </section>

    <section>
        <h2>Rules</h2>

        <h3>Awards</h3>
        {{ tournament.awards|linebreaks }}

        <h3>Dress</h3>
        {{ tournament.dress|linebreaks }}

        <h3>Drug testing</h3>
        {{ tournament.drug_testing|linebreaks }}
    </section>

    <section>
        <h2>Logistics</h2>
        <h3>Venue</h3>
        {{ tournament.venue_description|linebreaks }}
        <iframe
            width="100%"
            height="300"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDGuvasiOAUbxa4w_xoZ8YaY38M9Vpz2Ec&q={{ tournament.venue_google_search }}&zoom=14" allowfullscreen>
        </iframe>
        <h3>Refreshments</h3>
        {{ tournament.refreshments|linebreaks }}
	{% if tournament.camping %}
	    <h3>Camping</h3>
	    {{ tournament.camping|linebreaks }}
	{% endif %}
    </section>
    <section>
        {% if tournament.entry_is_open %}
        <h2>Enter now</h2>
        {% elif tournament.is_future %}
        <h2>Entry information</h2>
        {% else %}
        <h2>Results</h2>
        {% endif %}

        {% if tournament.tamlynscore_id %}
        {% if tournament.is_future %}
        <p><a class="btn" href="https://tamlynscore.co.uk/tournaments/{{ tournament.tamlynscore_id }}/target-list/">View Target List</a></p>
        {% else %}
        <p><a class="btn" href="https://tamlynscore.co.uk/tournaments/{{ tournament.tamlynscore_id }}/results/by-round/html/">Results on TamlynScore</a></p>
        {% endif %}
        {% endif %}

        {% if tournament.full_results_document %}
        <p><a class="btn" href="{{ tournament.full_results_document|safe }}">Full results document</a></p>
        {% endif %}

        {% if tournament.is_future %}
        {{ tournament.entry_information|linebreaks }}

        <p>
            If you are having problems entering, please contact the <a href="mailto:{{ tournament.tournament_organiser_email }}">Tournament Organiser</a>.
        </p>
        <p>
        Entry fee is £{{ tournament.entry_fee }}.
        {% if tournament.entry_will_open %}
        Entries will open on {{ tournament.entries_open|date:"jS F Y" }} at {{ tournament.entries_open|date:"H:i" }}.
        {% elif tournament.entry_is_open %}
        Entries must be received by {{ tournament.entries_close|date:"jS F Y" }} at {{ tournament.entries_close|date:"H:i" }}.
        {% endif %}
        </p>
        {% endif %}

        {% if existing_entries or series_entries %}
            <h3>Entries</h3>
            <ul>
                {% for entry in existing_entries %}
                <li>
                    <strong>{{ entry.name }}</strong>
                    {% if entry.waiting_list %}
                    On waiting list
                    {% endif %}
                    {% if entry.paid %}
                    Paid
                    {% endif %}
                    {% if not tournament.series and not tournament.is_series %}
                        <a href="{% url 'tournaments:entry-update' tournament_slug=tournament.slug pk=entry.pk %}">Edit</a>
                        {% if not entry.paid %}
                        <a href="{% url 'tournaments:entry-delete' tournament_slug=tournament.slug pk=entry.pk %}">Remove</a>
                        {% endif %}
                    {% endif %}
                </li>
                {% endfor %}

                {% for entry in series_entries %}
                <li>
                    <strong>{{ entry.name }}</strong>
                    Entered for the whole series.
                    {% if not entry.paid and not tournament.is_series %}
                    <br><a href="{{ entry.tournament.series.get_absolute_url }}">Pay via series page.</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% if to_pay %}
            {% if not user.subscription_id %}
            <p>To pay: £{{ to_pay }}</p>
            <a href="{{ payment_url }}" class="btn">Pay now</a>
            <p><small>
            Payments are processed securely using Stripe. Wallingford Castle Archers does
            not store your credit card details. If you have any problems, please
            contact the tournament organiser. Payment can be accepted via cheque or
            BACS on request. Charges will be shown on your account as WALLINGFORD
            C. ARCHERS.
            </small></p>
            {% else %}
            <p>Tournament fees will be added to your membership payments.</p>
            {% endif %}
            {% endif %}
        {% endif %}

        {% if tournament.is_future and tournament.waiting_list_enabled %}
            <p><strong>
                We are now operating a waiting list. You may enter your details
                below but will not be able to pay. If we are able to offer you
                a space due to capacity on your choice of round or
                cancellations, we will be in touch and you can return here to
                pay. Thank you for your patience and rest assured we will do
                our best to accommodate you.
            </strong></p>
        {% elif tournament.is_future and not tournament.entry_is_open and not tournament.entry_will_open %}
            <p><strong>
                The competition is now full. Please contact the
                <a href="mailto:{{ tournament.tournament_organiser_email }}">Tournament Organiser</a> to
                be added to a waiting list.
            </strong></p>
        {% endif %}

        {% if tournament.entry_is_open %}
            {% if user.is_authenticated %}
            <form id="tournament-entry" class="form page-form" action="{{ enter_url }}" method="POST">
                <h2>Add entry</h2>
                {% if members %}
                <div class="member-select">
                    {% for member in members %}
                    <p>
                    <a class="btn"
                        data-name="{{ member.archer.name }}"
                        data-agb="{{ member.archer.agb_number }}"
                        data-dob="{{ member.archer.date_of_birth|date:"d/m/Y" }}"
                    >{{ member }}</a>
                    </p>
                    {% endfor %}
                    <p><a class="btn">Another archer</a></p>
                </div>
                {% endif %}
                <div class="form">
                    {% csrf_token %}
                    {{ entry_form }}
                    <input type="submit" value="Enter" class="btn">
                </div>
            </form>
            {% else %}
            <form class="form page-form" action="{{ register_url }}" method="POST">
                <h2>Register account</h2>
                {% csrf_token %}
                {{ register_form }}
                <input type="submit" value="Register" class="btn">
            </form>
            <p><a href="{% url 'login' %}">Login to existing account</a></p>
            {% endif %}
        {% endif %}
    </section>
</div>
{% endblock %}
