{% extends 'base.html' %}

{% block content %}
<div class="flex-sections">
    <section>
        <h2>Didcot Girls School</h2>
        <p>Wallingford Castle Archers are pleased to be working with Didcot Girls School to offer an after school archery club. We meet in the Sports Hall during the winter and on the school field in the summer.</p>
        <p>We are currently running on Mondays between 3:30 and 4:30pm. The cost is £60 per term, payable in advance.</p>
    </section>
    <section>
        <h3>Register Interest</h3>
        <p>We will be in touch when we have space to accommodate you.</p>
        <form class="form page-form" method="POST" action=".">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="btn" value="Register">
        </form>
    </section>
</div>
{% endblock %}
