{% extends 'base.html' %}

{% load floppyforms %}

{% block content %}
<div class="flex-sections">
    <section>
        <h2>Didcot Girls School</h2>
        <p>Wallingford Castle Archers are pleased to be working with Didcot Girls School to offer an after school archery club. We meet in Frids Gym during the winter and on the school field in the summer.</p>
        <p>We are currently running a year 9 club on Mondays and a year 8 club on Thursdays. The cost is £5 per week, payable in advance.</p>
    </section>
    <section>
        <h3>Sign up</h3>
        <form class="form page-form" method="POST" action=".">
            {% csrf_token %}
            {% form form using 'floppyforms/layouts/p.html' %}
            <input type="submit" class="btn" value="Register">
        </form>
    </section>
</div>
{% endblock %}
