{% extends 'base.html' %}

{% load floppyforms %}

{% block hero %}
<div class="hero hero--targets">
    <h1>Holiday archery</h1>
</div>
{% endblock %}

{% block content %}
<p><a href="{% url 'courses:holidays' %}">< Back to information</a></p>
<h2>Booking</h2>
<p>To book holiday sessions, please first register a new participant. You can then select sessions and pay for them.</p>
{% if user.is_anonymous %}
<div class="flex-sections">
    <section>
        <h2>Log into existing account</h2>
        <form class="form page-form" method="POST" action="{% url 'courses:holidays-book' %}">
            <input type="hidden" name="form" value="login" />
            {% csrf_token %}
            {% form login_form using 'floppyforms/layouts/p.html' %}
            <input type="submit" class="btn">
        </form>
    </section>
    <section>
        <h2>Create new account</h2>
        <form class="form page-form" method="POST" action="{% url 'courses:holidays-book' %}">
            <input type="hidden" name="form" value="register" />
            {% csrf_token %}
            {% form register_form using 'floppyforms/layouts/p.html' %}
            <input type="submit" class="btn">
        </form>
    </section>
</div>
{% else %}
<div class="flex-sections">
    {% if to_pay %}
    <section>
        <h2>Pay for outstanding sessions</h2>
        <p>You have a total of £{{ to_pay }} to pay</p>
        {% if user.subscription_id %}
        <form action="{% url 'courses:holidays-book' %}" method="POST" class="form">
            <input type="hidden" name="form" value="add-to-subscription" />
            {% csrf_token %}
            <input type="submit" value="Add to membership" class="btn" />
            <p><small>The additional fee will go out with your next monthly membership payment</small></p>
        </form>
        {% else %}
        <form action="{% url 'courses:holidays-book' %}" method="POST" class="form">
            <a href="{% url 'courses:holidays-payment' %}" class="btn">Pay £{{ to_pay }}</a>
        </form>
        {% endif %}
    </section>
    {% endif %}

    {% if members %}
    <section>
        <h2>Book a club member</h2>
        {% for member in members %}
        {% with member.archer as archer %}
        <h3>{{ archer }}</h3>
        {% if archer.attendee %}
            {% if archer.sessions_booked %}
            <p>Currently booked for:</p>
            <ul>
                {% for booking in archer.sessions_booked %}
                <li>{{ booking.session.label }}</li>
                {% endfor %}
            </ul>
            {% else %}
            <p>Not currently booked for any sessions</p>
            {% endif %}
        <form class="form page-form page-form--checkbox" method="POST" action="{% url 'courses:holidays-book' %}">
            <h3>Amend booking</h3>
            <input type="hidden" name="form" value="booking" />
            <input type="hidden" name="archer" value="{{ archer.id }}" />
            {% csrf_token %}
            {% form archer.booking_form using 'floppyforms/layouts/p.html' %}
            <input type="submit" class="btn">
        </form>
        {% else %}
        <p>Not currently booked for any sessions</p>
        <form class="form page-form page-form--checkbox" method="POST" action="{% url 'courses:holidays-book' %}">
            <h3>Make a booking</h3>
            <input type="hidden" name="form" value="booking" />
            <input type="hidden" name="archer" value="{{ archer.id }}" />
            {% csrf_token %}
            {% form archer.booking_form using 'floppyforms/layouts/p.html' %}
            <input type="submit" class="btn">
        </form>
        {% endif %}
        {% endwith %}
        {% endfor %}
    </section>
    {% endif %}

    {% if archers %}
    <section>
        <h2>Book an archer</h2>
        {% for archer in archers %}
        <h3>{{ archer }}</h3>
        {% if archer.attendee %}
        <p>Currently booked for:</p>
        <ul>
            {% for booking in archer.sessions_booked %}
            <li>{{ booking.session.label }} {% if booking.paid %}<small>PAID</small>{% endif %}</li>
            {% endfor %}
        </ul>
        <form class="form page-form page-form--checkbox" method="POST" action="{% url 'courses:holidays-book' %}">
            <h3>Amend booking</h3>
            <input type="hidden" name="form" value="booking" />
            <input type="hidden" name="archer" value="{{ archer.id }}" />
            {% csrf_token %}
            {% form archer.booking_form using 'floppyforms/layouts/p.html' %}
            <input type="submit" class="btn">
        </form>
        {% else %}
        <p>Not currently booked for any sessions</p>
        <form class="form page-form page-form--checkbox" method="POST" action="{% url 'courses:holidays-book' %}">
            <h3>Make a booking</h3>
            <input type="hidden" name="form" value="booking" />
            <input type="hidden" name="archer" value="{{ archer.id }}" />
            {% csrf_token %}
            {% form archer.booking_form using 'floppyforms/layouts/p.html' %}
            <input type="submit" class="btn">
        </form>
        {% endif %}
        {% endfor %}
    </section>
    {% endif %}

    <section>
        <h2>Add a new archer</h2>
        <form class="form page-form" method="POST" action="{% url 'courses:holidays-book' %}">
            <input type="hidden" name="form" value="new-archer" />
            {% csrf_token %}
            {% form new_archer_form using 'floppyforms/layouts/p.html' %}
            <input type="submit" class="btn">
        </form>
    </section>
</div>
{% endif %}
{% endblock %}
