{% extends 'base.html' %}

{% load floppyforms %}

{% block content %}
<div class="flex-sections">
    <section>
        <h2>Home Educated minis</h2>
        <p>Wallingford Castle Archers are pleased to be offering archery classes for home educated children. The classes will take place at Wallingford Sports Park, OX10 9RB.</p>
        <p>Sessions will be running on Thursdays at 13:00 (intermediate), 14:00 (advanced) and 15:00 (new starters).</p>
        <p>We are running on the following dates:</p>
        <ul>
            <li>10th January</li>
            <li><em>No session 17th January</em></li>
            <li>24th January</li>
            <li>31st January</li>
            <li>7th February</li>
            <li>14th February</li>
            <li><em>No session 21st February</em></li>
            <li>28th February</li>
            <li>7th March</li>
            <li>14th March</li>
            <li><em>No session 21st March</em></li>
            <li>28th March</li>
            <li>4th April</li>
        </ul>
        <p>The cost for this term is £60, payable in advance.</p>
    </section>
    <section>
        <h3>Book</h3>
        <form class="form page-form" method="POST" action=".">
            <p>To register for the course, please complete the form below.</p>
            {% csrf_token %}
            {% form form using 'floppyforms/layouts/p.html' %}
            <input type="submit" class="btn" value="Register">
        </form>
    </section>
</div>
{% endblock %}

