{% extends 'base.html' %}

{% load floppyforms %}

{% block content %}
<div class="flex-sections">
    <section>
        <h2>Icknield Community College</h2>
        <p>Wallingford Castle Archers are pleased to be working with Icknield Community College to offer an after school archery club.</p>
        <p>Sessions will be running after school on Wednesdays on the following dates:</p>
        <ul>
            <li>26th September</li>
            <li>3rd October</li>
            <li>10th October</li>
            <li>17th October</li>
            <li><em>No session 24nd October due to half term</em></li>
            <li>31st October</li>
            <li>7th November</li>
            <li>14th November</li>
            <li>21st November</li>
            <li>28th November</li>
            <li>5th December</li>
            <li>12th December</li>
            <li>19th December</li>
        </ul>
        <p>The cost for this term is £60, payable in advance.</p>
    </section>
    <section>
        <h3>Book</h3>
        <form class="form page-form" method="POST" action=".">
            <p>To register for the course, please complete the form below.</p>
            {% csrf_token %}
            {% form form using 'floppyforms/layouts/p.html' %}
            <input type="submit" class="btn" value="Register">
        </form>
    </section>
</div>
{% endblock %}

