{% extends 'base.html' %}

{% load floppyforms %}

{% block content %}
<div class="flex-sections">
    <section>
        <h2>Icknield Community College</h2>
        <p>Wallingford Castle Archers are pleased to be working with Icknield Community College to offer an after school archery club.</p>
        <p>Sessions will be running after school on Wednesdays on the following dates:</p>
        <ul>
            <li>09/01/19</li>
            <li>16/01/19</li>
            <li>23/01/19</li>
            <li>30/01/19</li>
            <li>06/02/19</li>
            <li>13/02/19</li>
            <li><em>Nothing 20/02/19 - half term</em></li>
            <li>27/02/19</li>
            <li>06/03/19</li>
            <li>13/03/19</li>
            <li><em>Nothing 20/03/19 - drama production</em></li>
            <li>27/03/19</li>
            <li>03/04/19</li>
        </ul>
        <p>The cost for this term is £55, payable in advance.</p>
    </section>
    <section>
        <h3>Book</h3>
        <form class="form page-form" method="POST" action=".">
            <p>To register for the course, please complete the form below.</p>
            {% csrf_token %}
            {% form form using 'floppyforms/layouts/p.html' %}
            <input type="submit" class="btn" value="Register">
        </form>
    </section>
</div>
{% endblock %}

