{% extends 'base.html' %}

{% block content %}
<div class="flex-sections">
    <section>
        <h2>Maiden Erlegh Chiltern Edge School</h2>
        <p>Wallingford Castle Archers are pleased to be working with Maiden Erlegh Chiltern Edge School to offer an after school archery club. We meet in the Sports Hall during the autumn and spring terms, and then outside in the summer term.</p>
        <p>We are running on Wednesdays between 3:30 and 4:30pm, starting from September 2024. The cost is £60 per term, payable in advance.</p>
    </section>
    <section>
        <h3>Sign up</h3>
        <form class="form page-form" method="POST" action=".">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="btn" value="Register">
        </form>
    </section>
</div>
{% endblock %}
