{% extends 'base.html' %}

{% load floppyforms %}

{% block content %}
<div class="flex-sections">
    <section>
        <h2>St Birinus School</h2>
        <p>Wallingford Castle Archers are pleased to be working with St Birinus School to offer an after school archery club. We meet on Tuesday after school, in the Gym during the winter and then outside when the weather improves.</p>
        <p>The club is currently only open to boys in year 7.</p>
        <p>Sessions will be running after school on Tuesdays on the following dates:</p>
        <ul>
            <li>3rd November</li>
            <li>10th November</li>
            <li>17th November</li>
            <li>24th November</li>
            <li>1st December</li>
            <li>8th December</li>
            <li>15th December</li>
        </ul>
        <p>The cost for this term is £35, payable in advance.</p>
    </section>
    <section>
        <h3>Sign up</h3>
        <form class="form page-form" method="POST" action=".">
            {% csrf_token %}
            {% form form using 'floppyforms/layouts/p.html' %}
            <input type="submit" class="btn" value="Register">
        </form>
    </section>
</div>
{% endblock %}
