{% extends 'base.html' %}

{% load floppyforms %}

{% block content %}
<div class="flex-sections">
    <section>
        <h2>St Birinus School</h2>
        <p>Wallingford Castle Archers are pleased to be working with St Birinus School to offer an after school archery club. We meet on Tuesday after school, in the Gym during the winter and then outside when the weather improves.</p>
        <p>Sessions will be running after school on Tuesdays on the following dates:</p>
        <ul>
            <li>7th January</li>
            <li>14th January</li>
            <li>21st January</li>
            <li>28th January</li>
            <li>4th February</li>
            <li>11th February</li>
            <li><em>No session half term - 18th February</em></li>
            <li>26th February</li>
            <li>2nd March</li>
            <li>9th March</li>
            <li>17th March</li>
            <li>23rd March</li>
            <li><em>MONDAY 30th March - Inter School Competition (selected students only)</em></li>
            <li>31st March</li>
        </ul>
        <p>The cost for this term is £60, payable in advance.</p>
    </section>
    <section>
        <h3>Sign up</h3>
        <form class="form page-form" method="POST" action=".">
            {% csrf_token %}
            {% form form using 'floppyforms/layouts/p.html' %}
            <input type="submit" class="btn" value="Register">
        </form>
    </section>
</div>
{% endblock %}
