{% extends 'base.html' %}

{% block hero %}
<div class="hero hero--targets">
    <h1>Summer holiday archery</h1>
</div>
{% endblock %}

{% block content %}
<p>Thanks for registering {{ object.student_name }} for summer holiday archery at Wallingford Caste Archers.</p>
{% if object.paid %}
<p>Payment confirmed, thanks!</p>
{% else %}
<p>To pay: £{{ cost }}</p>
<form action="." method="POST">
    {% csrf_token %}
    <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="{{ STRIPE_KEY }}"
        data-email="{{ object.email }}"
        data-currency="GBP"
        data-amount="{{ cost }}00"
        data-name="Wallingford Castle Archers"
        data-description="Summer holiday archery"
        data-locale="auto">
    </script>
</form>
{% endif %}
{% endblock %}

