{% extends 'base.html' %}

{% load floppyforms %}

{% block hero %}
<div class="hero hero--targets">
    <h1>Summer holiday archery</h1>
</div>
{% endblock %}

{% block content %}
<div class="flex-sections">
    <section>
        <h2>Booking</h2>
        <p>
        We understand that many children go on holiday during the summer, and
        as such every session is self contained. You can book onto as many or
        as few sessions as you like!
        </p>
        <h3>Cost</h3>
        <p>
        Each session costs £5 per child payable in advance. Club members have a
        reduced fee of £4 per session.
        </p>
        <p><a class="btn" href="{% url 'courses:summer-2018' %}">More information</a></p>
    </section>
    <section>
        <h2>Book now</h2>
        <form class="form page-form" method="POST" action="{% url 'courses:summer-2018-book' %}">
            {% csrf_token %}
            {% form form using 'floppyforms/layouts/p.html' %}
            <input type="submit" class="btn">
        </form>
    </section>
</div>
{% endblock %}
