{% extends 'admin/base_site.html' %}

{% load i18n admin_urls %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
    &rsaquo; <a href="{% url opts|admin_urlname:'change' object.pk %}">{{ object }}</a>
    &rsaquo; Report
</div>
{% endblock %}


{% block content %}
<div id="content-main">
    <h2>Attendees ({{ attendees|length }})</h2>
    <div class="results">
        <table id="result_list">
            <thead>
                <tr>
                    <th scope="col" class="column-name">
                        <div class="text"><span>Name</span></div>
                        <div class="clear"></div>
                    </th>
                    {% if has_groups %}
                    <th scope="col" class="column-course_start_date">
                        <div class="text"><span>Group</span></div>
                        <div class="clear"></div>
                    </th>
                    {% endif %}
                    <th scope="col" class="column-course_start_date">
                        <div class="text"><span>Date of birth</span></div>
                        <div class="clear"></div>
                    </th>
                    <th scope="col" class="column-course_start_date">
                        <div class="text"><span>Age group</span></div>
                        <div class="clear"></div>
                    </th>
                    <th scope="col" class="column-report_link">
                        <div class="text"><span>Contact email</span></div>
                        <div class="clear"></div>
                    </th>
                    <th scope="col" class="column-report_link">
                        <div class="text"><span>Contact number</span></div>
                        <div class="clear"></div>
                    </th>
                    <th scope="col" class="column-report_link">
                        <div class="text"><span>Paid</span></div>
                        <div class="clear"></div>
                    </th>
                    <th scope="col" class="column-report_link">
                        <div class="text"><span>Member</span></div>
                        <div class="clear"></div>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for attendee in attendees %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <th><a href="{% url 'admin:courses_attendee_change' attendee.id %}">{{ attendee.archer.name }}</a></th>
                    {% if has_groups %}
                    <td>{{ attendee.group }}</td>
                    {% endif %}
                    <td>{{ attendee.archer.date_of_birth }}</td>
                    <td>{{ attendee.archer.age_group }}</td>
                    <td>{{ attendee.archer.user.email }}</td>
                    <td>{{ attendee.archer.contact_number }}</td>
                    <td>{{ attendee.paid }}</td>
                    <td>{{ attendee.member }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if has_groups %}
    <h2>Groups ({{ groups|length }})</h2>
    <div class="results">
        <table id="result_list">
            <thead>
                <tr>
                    <th scope="col">
                        <div class="text"><span>Group</span></div>
                        <div class="clear"></div>
                    </th>
                    <th scope="col">
                        <div class="text"><span>Number of archers</span></div>
                        <div class="clear"></div>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for group in groups %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td>{{ group.group }}</td>
                    <td>{{ group.attendee_count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

</div>
{% endblock %}
