{% extends 'admin/base_site.html' %}

{% load i18n admin_urls %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
    &rsaquo; <a href="{% url opts|admin_urlname:'change' object.pk %}">{{ object }}</a>
    &rsaquo; <a href="{% url opts|admin_urlname:'report' object.pk %}">Report</a>
    &rsaquo; Sessions
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    <ul class="object-tools">
        <li>
            <a href="{% url opts|admin_urlname:'change' object.pk %}">
                Edit {{ opts.verbose_name }}
            </a>
        </li>
        <li>
            <a href="{% url opts|admin_urlname:'report' object.pk %}">
                Report
            </a>
        </li>
    </ul>
    <h2>Sessions</h2>
    <div class="results">
        <table id="result_list">
            <thead>
                <tr>
                    <th scope="col">
                        <div class="text"><span>Date</span></div>
                        <div class="clear"></div>
                    </th>
                    <th scope="col">
                        <div class="text"><span>Time</span></div>
                        <div class="clear"></div>
                    </th>
                    <th scope="col">
                        <div class="text"><span>Attendees</span></div>
                        <div class="clear"></div>
                    </th>
                    <th scope="col">
                        <div class="text"><span>Session plan</span></div>
                        <div class="clear"></div>
                    </th>
                    <th scope="col">
                        <div class="text"><span>Session notes</span></div>
                        <div class="clear"></div>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for session in object_list %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <th><a href="{% url session_opts|admin_urlname:'change' session.pk %}">{{ session.start_time.date }}</a></th>
                    <td>{{ session.start_time.time }} - {{ session.end_time.time }}</td>
                    <td>
                        {% if session.event %}
                            <strong>Attendees ({{ session.event.attendee_count }})</strong>
                            <ul>
                                {% for attendee in session.event.attendee_set.all %}
                                <li>{{ attendee.archer }}</li>
                                {% endfor %}
                            </ul>
                            <a href="{% url session_opts|admin_urlname:'set_attendees' session.pk %}">Set attendees</a>
                        {% else %}
                            <a href="{% url session_opts|admin_urlname:'create_event' session.pk %}">Create event</a>
                        {% endif %}
                    </td>
                    <td>
                        {{ session.session_plan|linebreaksbr }}
                    </td>
                    <td>
                        {{ session.session_notes|linebreaksbr }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
