.btn
  display: block
  cursor: pointer
  min-width: 100px
  background-color: $pink
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset
  color: white
  font-weight: bold
  padding: 8px 15px
  border-radius: 4px
  text-align: center
  white-space: nowrap

  &:hover
    text-decoration: none
    background-color: darken($pink, 10%)

  &--narrow
    min-width: 0
    display: inline
