.form

  &.page-form
    background-color: #fafafa
    margin: 0 -15px
    padding: 0 15px 15px
    border-radius: 5px
    overflow: auto

  label
    display: block

  input, select, textarea
    display: block
    width: 200px
    font-size: 18px
    margin-top: 5px
    padding: 3px 5px
    border: 1px solid #aaa
    border-radius: 5px

  input[type=checkbox]
    display: inline
    width: auto

  textarea
    width: 100%
    height: 100px

  .helptext
    display: block
    font-size: smaller
    color: #777

  ul.errorlist
    display: block
    margin: 10px 0
    padding: 0

    li
      display: block
      margin: 0
      padding: 0
      font-weight: bold
      color: $pink

  // course form specific
  #id_dates
    list-style: none
    padding: 0
