$max-page-width: 1200px
$margin-width: 15px

*
  box-sizing: border-box

body
  margin: 0

header,
footer
  color: $pink
  margin: 0 auto
  h1
    position: relative
    display: inline
    margin: 0
    padding-left: 80px
    @media (max-width: 750px)
      padding-left: 70px
    &:before
      content: ''
      position: absolute
      display: block
      height: 70px
      width: 70px
      background-image: url('../svg/logo.svg')
      background-size: 100%
      top: -15px
      @media (max-width: 750px)
        height: 60px
        width: 60px
    a
      color: $pink
      &:hover
        color: $pink

footer
  nav
    ul
      margin: 0

header
  padding: 20px 0

article
  margin-bottom: $margin-width

footer
  padding: $margin-width 0
  background-color: #eee

.container
  width: $max-page-width - 2 * $margin-width
  margin: 0 auto
  padding: 0 $margin-width

  @media (max-width: 1200px)
    &
      width: 940px - 2 * $margin-width

  @media (max-width: 950px)
    &
      width: 100%

.flex-sections
  display: -webkit-flex
  display: flex
  -webkit-flex-wrap: wrap
  flex-wrap: wrap
  margin: 0 -30px

  @media (max-width: 750px)
    &
      margin: 0

  section
    width: 33.333%
    padding: 0 30px

    @media (max-width: 1200px)
      &
        width: 50%

    @media (max-width: 750px)
      &
        width: 100%
        padding: 0
