{% extends 'base.html' %}

{% block hero %}
<div class="hero hero--scas">
    <h1>Wallingford Castle Archers</h1>
</div>
{% endblock %}

{% block content %}
<div class="flex-sections">
    <section>
        <h2>About</h2>
        <p>
        Wallingford Castle Archers is one of the largest archery clubs in the
        UK, with over 200 members. We have a family friendly atmosphere with
        around half our members under 18, but we are also competitive and have
        had success at national level. Archery is a highly inclusive sport, with juniors
        able to learn along side grandparents, and able bodied alongside disabled.
        </p>
        <p>
        We have shooting at least 5 days a week, and a wide range of coach led
        training groups to suit all ages and abilities. We shoot at a range of
        venues across South Oxfordshire, based around our main hubs at
        Wallingford Sports Park and Wallingford School.
        </p>
    </section>
    <section>
        <h2>Get into archery</h2>
        <p>
        Beginners courses are the ideal introduction to the sport for adults.
        You'll learn all the basics including how to set up, shoot the bow and
        score your arrows.
        </p>
        <p>
        <a class="btn" href="{% url 'beginners:index' %}">Find out more</a>
        </p>
        <p>
        For children wanting to get started, we run Minis sessions for children
        born in 2013 or later, and Arrows sessions for children born in
        2007-2010. These are weekly structured sessions with plenty
        opportunities to earn their beginners badges.
        </p>
        <p>
        Children are welcome to start a 4 week trial at any time.
        </p>
        <p>
        <a class="btn" href="{% url 'juniors' %}">Find out more</a>
        </p>
    </section>
    <section>
        <h2>Compete</h2>
        <p>We host regular competitions at Wallingford Castle Archers.</p>
        <p>
        We are excited to be running a series of WRS 18m rounds this indoor
        season. We will also have a full programme of events in summer 2024
        which we will announce in due course.
        </p>
        <p>
        Details of our events are on the Tournaments page.
        </p>
        <p>
        <a class="btn" href="{% url 'tournaments:home' %}">Find out more</a>
        </p>
   </section>
</div>
{% endblock %}
