{% extends 'base.html' %}

{% load floppyforms %}

{% block content %}
<div class="flex-sections">
    <section>
        <h2>About</h2>
        <p>
        We are a club based in Wallingford, Oxfordshire, with a focus on promoting a
        friendly club with a competitive edge. As well as running regular beginners
        courses for both adults and children, our members compete regularly on a club,
        county and national level. Archery is a highly inclusive sport, with juniors
        able to learn along side grandparents, and able bodied alongside disabled.
        </p>
    </section>
    <section>
        <h2>News</h2>
        <p>
        <strong>Save the date!</strong> We will be hosting a WRS 720/H2H
        tournament on Saturday 5th August 2017. More details to follow soon!
        </p>
        <p>
        Wallingford Castle Archers are delighted to be joining the
        <a href="http://www.wallingfordsportspark.co.uk/">Wallingford Sports Park</a>
        as associate members in 2017. All outdoor shooting will take place at
        Hithercroft.
        </p>
   </section>
    <section>
        <h2>Outdoor shooting</h2>
        <p>
        Our sessions run from 1.30pm to 6pm every Sunday, and from 6pm on Wednesdays and Fridays. Outdoor sessions run from April to September.
        </p>
        <ul>
            <li>
            13:30-15:00 Sundays – Junior session. Only junior members will be allowed
            to shoot, along side any parents, space permitting.
            </li>
            <li>
            15:00-18:00 Sundays – Open session. All members welcome, but under 18s must
            be supervised by an adult.
            </li>
        </ul>
        <ul>
            <li>
            18:00-dusk Wednesdays – open session. Juniors welcome but parents or guardians must be present. 
            </li>
            <li>
            18:00-dusk Wednesdays – squad session. Squad training takes place
            alongside the open session on a separate range. If you are
            interested in being considered for squad membership, please speak
            to Marc or Charlie at a session.
            </li>
        </ul>
        <ul>
            <li>
            18:00-dusk fridays – open session. Juniors are not required to be supervised.
            </li>
        </ul>
        <p>
        Our outdoor range is based at Wallingford Sports Park, on the northern fields.
        We shoot outdoors from from April to September
        </p>
        <iframe
            width="100%"
            height="300"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDGuvasiOAUbxa4w_xoZ8YaY38M9Vpz2Ec&q=Wallingford%20SportsPark,%20Wallingford&zoom=14" allowfullscreen>
        </iframe>
    </section>
    <section>
        <h2>Indoor shooting</h2>
        <p>
        Our sessions run from 10am to 4pm every Sunday, and from 6pm to 9pm every Friday
        </p>
        <ul>
            <li>
            10:00-11:30 Sundays – Beginners course or alternative coaching session
            </li>
            <li>
            11:30-13:00 Sundays – Junior session. Only junior members will be allowed
            to shoot, along side any parents, space permitting.
            </li>
            <li>
            13:00-16:00 Sundays – Open session. All members welcome, but under 18s must
            be supervised by an adult.
            </li>
        </ul>
        <ul>
            <li>
            18:00-19:30 Fridays – Open session. Juniors are not required to be supervised.
            </li>
            <li>
            19:30-21:00 Fridays – Squad session. Only squad members are allowed to shoot.
            If you are interested in being considered for squad membership, please speak to
            Marc or Charlie at a session.
            </li>
        </ul>
        <p>
        Our indoor range is based at Wallingford School, in the the Castle
        Sports Hall. We shoot indoors from from October to March.
        </p>
        <iframe
            width="100%"
            height="300"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDGuvasiOAUbxa4w_xoZ8YaY38M9Vpz2Ec&q=Wallingford%20Castle%20Archers%20Indoors,%20Wallingford&zoom=14" allowfullscreen>
        </iframe>
    </section>
    <section>
        <h2>Membership</h2>
        <p>
            <strong>Adult members</strong><br>
            £15 per calendar month. Membership includes the Sunday afternoon
            sessions, use of club equipment and membership to the national
            governing body, Archery GB. All new members must commit to at least
            6 months of membership to cover their affiliation fees.
        </p>
        <p>
            <strong>Junior members and students</strong><br>
            £10 per calendar month. Membership includes sessions, including a
            junior only session on Sunday mornings, as well as the usual open
            afternoon session, use of club equipment and membership to the
            national governing body, Archery GB. All new members must commit to
            at least 3 months of membership.
        </p>
        <p>
            Junior members should be 10-17 years old. Student members are 18 or
            older in full time education. For budding archers under 10, we
            support a variety of local groups at primary schools and leisure
            centres. Please contact us for details.
        </p>
        <p>
            <strong>Associate members</strong></br>
            £10 per calendar month. Membership includes everything that full
            membership does, with the exception of membership to Archery GB.
            Membership is due monthly. You must already be a member of
            Archery GB or another World Archery affiliated body.
        </p>
        <form class="form page-form" method="POST" action="{% url 'membership-interest' %}">
            <h3>Register interest in membership</h3>
            {% csrf_token %}
            {% form membership_form using 'floppyforms/layouts/p.html' %}
            <input type="submit" class="btn">
        </form>
    </section>
    <section>
        <h2>Beginners</h2>
        <p>
        Beginners courses include six hours of small group tuition over 3 or 4
        sesisons. All equipment and coaching will be provided, and at the end
        of the course you will be given a short assessment, just to make sure
        you've taken what we've taught you. After this you will be able to join
        any other open archery club in the country. The course, including hire
        of bows etc. for all sessions will cost £50 for adults and £30 for
        juniors.
        </p>
        <p>
        If you would like to sign up for the next beginners course, please fill
        in the form below. The course have limited numbers due to the size of
        the hall and availability of targets, and places will be allocated on a
        first come first served basis where possible. Payment is accepted
        online before the course, or by cash or cheque (payable to Wallingford
        Castle Archers) at the first session.
        </p>
        {% if current_courses %}
        <p>
            <strong>Current course dates</strong>
        </p>
        <ul>
            {% for course in current_courses %}
            <li>{% for session in course.beginnerscoursesession_set.all %}{{ session.time_string }}{% if not forloop.last %}<br>{% endif %}{% endfor %}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <p>
            <strong>Upcoming course dates</strong>
        </p>
        <ul>
            {% for course in upcoming_courses %}
            <li>{% for session in course.beginnerscoursesession_set.all %}{{ session.time_string }}{% if not forloop.last %}<br>{% endif %}{% endfor %}</li>
            {% endfor %}
            <li>Courses run regularly throughout the year and will be arranged according to demand.</li>
        </ul>
        <form class="form page-form" method="POST" action="{% url 'beginners:interest' %}">
            <h3>Sign up for a course</h3>
            {% csrf_token %}
            {% form beginners_form using 'floppyforms/layouts/p.html' %}
            <input type="submit" class="btn">
        </form>
    </section>
</div>
{% endblock %}
