{% extends 'base.html' %}

{% load floppyforms %}

{% block hero %}
<div class="hero hero--scas">
    <h1>Wallingford Castle Archers</h1>
</div>
{% endblock %}

{% block content %}
<div class="flex-sections">
    <section>
        <h2>About</h2>
        <p>
        We are a club based in Wallingford, Oxfordshire, with a focus on promoting a
        friendly club with a competitive edge. As well as running regular beginners
        courses for both adults and children, our members compete regularly on a club,
        county and national level. Archery is a highly inclusive sport, with juniors
        able to learn along side grandparents, and able bodied alongside disabled.
        </p>
    </section>
    <section>
        <h2>Get into archery</h2>
        <p>
        Beginners courses are the ideal introduction to the sport for adults.
        You'll you all the basics including how to set up, shoot the bow and
        score your arrows.
        </p>
        <p>
        <em>Beginners courses are suspended until 2021</em>
        </p>
        <p>
        <a class="btn" href="{% url 'beginners:index' %}">Register interest for future courses</a>
        </p>
        <p>
        For younger children, we offer a minis club from 6 years old. We have
        weekly structured sessions in term time with plenty opportunities to
        earn their beginners badges.
        </p>
        <p>
        <em>We have space for new minis in Didcot on Mondays.</em>
        </p>
        <p>
        We also have a thriving club for junior archers of secondary school
        age. Weekly coach led sessions are available at both introductory and
        competitive levels.
        </p>
        <p>
        <em>We currently are operating a waiting list for arrows sessions.</em>
        </p>
        <p>
        <a class="btn" href="{% url 'juniors' %}">Find out more</a>
        </p>
    </section>
    <section>
        <h2>Compete</h2>
        <p>We host regular competitions at Wallingford Castle Archers.</p>
        <p>
        <em>Our 2020 tournament schedule has been cancelled due to COVID-19.</em>
        </p>
        <p>
        We are hoping to still be able to host the Oxfordshire Indoor
        Championships in November 2020, and we have plans for multiple events
        in summer 2021.
        </p>
   </section>
</div>
{% endblock %}
