{% extends 'base.html' %}

{% load floppyforms %}

{% block hero %}
<div class="hero hero--diana">
    <h1>Join the club</h1>
</div>
{% endblock %}

{% block content %}
<div class="flex-sections">
    <section>
        <h2>Join the club</h2>
        <p>
        Wallingford Castle Archers is an active club with over 80 members. We
        cater for all archers - whether you are 6 or 106, a complete beginner
        or an olympic athlete.
        </p>
        <p>
        We shoot all through the year with two sessions a week during the
        indoor season and three club sessions during the outdoor season. In the
        outdoor season, serious archers can also access 24 hour shooting
        facilities.
        </p>
        <h3>Coaching</h3>
        <p>
        We run regular boost courses for intermediate archers - ideal to
        develop your skills beyond what you learn on your beginners course.
        </p>
        <p>
        All junior sessions are supported or led by a coach.
        </p>
        <p>
        Tailored individual coaching programs are available to all club members
        and visiting archers.
        </p>
    </section>
    <section>
        <h2>Membership types</h2>
        <p>
            <strong>Adult members</strong><br>
            £15 per calendar month. Membership includes the Sunday afternoon
            sessions, use of club equipment and membership to the national
            governing body, Archery GB. All new members must commit to at least
            6 months of membership to cover their affiliation fees.
        </p>
        <p>
            <strong>Concession members</strong><br>
            £10 per calendar month. Membership includes sessions, including a
            junior only session on Sunday mornings, as well as the usual open
            afternoon session, use of club equipment and membership to the
            national governing body, Archery GB. All new members must commit to
            at least 3 months of membership.
        </p>
        <p>
            Concession membership is available to all archers aged 10-24, and
            any archers with a disability. For budding archers under 10, we
            support a variety of local groups at primary schools and leisure
            centres. Please contact us for details.
        </p>
        <p>
            <strong>Associate members</strong></br>
            £10 per calendar month. Membership includes everything that full
            membership does, with the exception of membership to Archery GB.
            Membership is due monthly. You must already be a member of
            Archery GB or another World Archery affiliated body.
        </p>
        <p>
            <strong>Non-shooting members</strong></br>
            £5 per calendar month. Membership includes only membership of
            Archery GB, with no shooting rights.
        </p>
    </section>
    <section>
        <h2>Register interest</h2>
        <form class="form page-form" method="POST" action="{% url 'membership-interest' %}">
            {% csrf_token %}
            {% form membership_form using 'floppyforms/layouts/p.html' %}
            <input type="submit" class="btn">
        </form>
    </section>
</div>
{% endblock %}
