{% extends 'base.html' %}

{% load floppyforms %}

{% block og_image %}juniors-herts{% endblock %}

{% block hero %}
<div class="hero hero--juniors">
    <h1>Junior archery</h1>
</div>
{% endblock %}

{% block content %}
<div class="flex-sections">
    <section>
        <h2>Junior archers</h2>
        <p>
        Wallingford Castle Archers are proud to be the largest junior club in
        Oxfordshire, and pride ourselves on our family friendly atmosphere. As
        a Young People specialist club, we aim to provide structured
        environments suitable to young archers from 6 years old, with plenty
        opportunities to progress their skills, compete, and enjoy their
        archery.
        </p>
        <h2>Minis Archery (Born 2012 or later)</h2>
        <p>
        Minis Archery sessions are designed to aimed at our youngest archers,
        born in 2012 or later. Our minimum age is typically 6 years old, but we
        can be somewhat flexible with children who are in year 1 at school. All
        sessions are structured and led by qualified coaches specialising in
        young people.  Minis archers may only shoot at minis sessions, as our
        youngest archers require the supervision of a coach to remain safe.
        </p>
        <p>
        Minis Archers work towards their first World Archery beginners awards,
        and have no requirement to get their own equipment.
        </p>
        <p>
        Minis sessions run on Mondays 5pm-5:45pm and 5:45pm-6:30pm, or on
        Sundays 12:30pm-1:15pm and 1:15pm-2pm. Minis sessions are bookable on a
        term by term basis, and carry a charge of £7.50 per session for
        non-members and £4 per session for members.
        </p>
        <h2>U12 Team (Born 2012 or later)</h2>
        <p>
        Our U12 Team are our young archers who have progressed beyond their
        first World Archery awards, and go up to nationally competitive
        archers. They have dedicated coached sessions every week and regularly
        attend competitions.
        </p>
        <p>
        Our junior team get the opportunity to compete at a range of
        competitions.
        </p>
        <p>
        U12 Team sessions are on Mondays 5pm-6:30pm, or on Sundays
        12:30pm-2pm. U12 Team coaching fees are £20/month.
        </p>
    </section>
    <section>
        <h2>Junior Arrows (Born 2006-2011)</h2>
        <p>
        Junior Arrows is our introductory programme for older juniors, mostly
        those attending secondary school. Junior members of this level are also
        welcome to attend open sessions with their parents.
        </p>
        <p>
        Arrows sessions are coach led and work towards developing confidence,
        technique, equipment understanding and achieving World Archery
        beginners badges.
        </p>
        <p>
        Junior Arrows members are encouraged to get competition experience at
        selected events through the year.
        </p>
        <p>
        Junior Arrows sessions are on Wednesdays 5pm-6:30pm, or on Sundays
        2pm-3:30pm.  Junior Arrows coaching fees are £20/month.
        </p>
        <h2>U15 and U18 Team (Born 2009-2011 and 2006-2008 respectively)</h2>
        <p>
        Our Junior Teams are competitive archers in the U14, U15, U16 and U18
        Archery GB age groups. They have dedicated coached sessions every week
        and regularly attend competitions. Many junior team archers also attend
        other open club sessions, although parental supervision is required for
        most other sessions.
        </p>
        <p>
        Our junior team compete through our membership of the Castle Junior
        Archery League, Perris Indoor League, and other local competitions. Our
        coaching team are also heavily involved with the county junior team.
        </p>
        <p>
        Junior Team sessions are on Tuesdays 5pm-6:30pm, or on Sundays
        3:30pm-5pm. Junior Team coaching fees are £20/month.
        </p>
    </section>
    <section>
        <h2>Trial sessions</h2>
        <form class="form page-form" method="POST" action="{% url 'courses:minis-interest' %}">
            <p>
            Junior Archers may attend a trial of 4 minis or arrows sessions
            before joining the club. For insurance reasons, once you have
            attended a certain number of hours you must join as a member of the
            club, which includes membership of ArcheryGB.
            </p>
            Register interest in a trial. Those archers already shooting
            regularly should <a href="{% url 'join' %}">join as
            members</a>.
            {% csrf_token %}
            {% form minis_form using 'floppyforms/layouts/p.html' %}
            <input type="submit" class="btn">
        </form>
    </section>
</div>
{% endblock %}
