{% extends 'base.html' %}

{% block og_image %}targets{% endblock %}

{% block hero %}
<div class="hero hero--targets">
    <h1>Venues</h1>
</div>
{% endblock %}

{% block content %}
<div class="flex-sections">
    <section>
        <h2>Indoor shooting</h2>
        <p>
        Indoor sessions run from October to March. We have a number of indoor
        shooting venues in the Wallingford area, at this point which we will be
        able to use in Winter 2021-22 is unclear.
        </p>
        <p>
        We aim to offer open shooting at least 3 times per week, in addition to
        a wide range of training groups.
        </p>
        <!-- iframe
            width="100%"
            height="300"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDGuvasiOAUbxa4w_xoZ8YaY38M9Vpz2Ec&q=Wallingford%20Castle%20Archers%20Indoors,%20Wallingford&zoom=14" allowfullscreen>
        </iframe -->
        <!--iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2347.5762112006582!2d-1.177989222469583!3d51.61400792007151!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTHCsDM2JzUxLjUiTiAxwrAxMCczNy4wIlc!5e0!3m2!1sen!2suk!4v1603706438512!5m2!1sen!2suk" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe-->
   </section>
    <section>
        <h2>Outdoor shooting</h2>
        <p>
        Outdoor sessions run from April to September. Club sessions typically
        run on Wednesday, Friday and Sunday, but the range is open most days of
        the week to more experienced members.
        </p>
        <p>
        Our outdoor range is based at Wallingford Sports Park, on the northern fields.
        We shoot outdoors from from April to September. Archery is an all
        weather sport, and sessions continue in most weather conditions.
        </p>
        <iframe
            width="100%"
            height="300"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDGuvasiOAUbxa4w_xoZ8YaY38M9Vpz2Ec&q=Wallingford%20SportsPark,%20Wallingford&zoom=14" allowfullscreen>
        </iframe>
    </section>
    <section>
        <h2>Under 18s</h2>
        <p>
        Wallingford Castle Archers aim to make archery as accessible as
        possible for young people. However, we also have to ensure that we
        follow safeguarding guidance and help to keep every child safe.
        </p>
        <p>
        Those children of primary school age (up to 11) are classified as
        "minis", with older children under the age of 18 classified as
        "juniors".
        </p>
        <p>
        Minis members may only attend minis sessions. Parents do not need to
        stay for minis sessions. However, those in year 5 or 6 who have
        attained their white arrow award may be invited to attend other
        sessions. For the junior session, parents may leave the child with us.
        For other sessions, they must stay.
        </p>
        <p>
        Junior members may attend open sessions with parental supervision. When
        they have achieved their blue arrow award and have their own equipment
        (moved up to Junior Team level) they may shoot without supervision at
        most sessions, subject to availability and communication with coaches.
        </p>
    </section>
</div>
{% endblock %}
