{% extends 'base.html' %}

{% block og_image %}targets{% endblock %}

{% block hero %}
<div class="hero hero--targets">
    <h1>Venues</h1>
</div>
{% endblock %}

{% block content %}
<div class="flex-sections">
    <section>
        <h2>Indoor shooting</h2>
        <p>
        Our sessions run from 10am to 4pm every Sunday, 6pm to 7:30pm every Wednesday, and and from 6pm to 9pm every Friday. Indoor sessions run from October to March.
        </p>
        <ul>
            <li>
            10:00-11:30 Sundays – Minis session. Term time only.
            </li>
            <li>
            11:30-13:00 Sundays – Junior session.
            </li>
            <li>
            13:00-16:00 Sundays – Open session.
            </li>
            <li>
            18:00-19:30 Wednesdays – Open session.
            </li>
            <li>
            18:00-21:00 Fridays – Open session.
            </li>
        </ul>
        <p>
        Our indoor range is based at Wallingford School, in the the Castle
        Sports Hall. We shoot indoors from from October to March.
        </p>
        <iframe
            width="100%"
            height="300"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDGuvasiOAUbxa4w_xoZ8YaY38M9Vpz2Ec&q=Wallingford%20Castle%20Archers%20Indoors,%20Wallingford&zoom=14" allowfullscreen>
        </iframe>
   </section>
    <section>
        <h2>Outdoor shooting</h2>
        <p>
        Our sessions run from 10am to 6pm every Sunday, and from 6pm on Wednesdays and Fridays. Outdoor sessions run from April to September.
        </p>
        <ul>
            <li>
            10:00-11:30 Sundays – Minis session. Term time only.
            </li>
            <li>
            11:30-13:00 Sundays – Junior session. Term time only.
            </li>
            <li>
            13:00-16:00 Sundays – Open session.
            </li>
            <li>
            18:00-dusk Wednesdays – Open session.
            </li>
            <li>
            18:00-dusk Fridays – Open session.
            </li>
        </ul>
        <p>
        Our outdoor range is based at Wallingford Sports Park, on the northern fields.
        We shoot outdoors from from April to September. Archery is an all
        weather sport, and sessions continue in most weather conditions.
        </p>
        <iframe
            width="100%"
            height="300"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDGuvasiOAUbxa4w_xoZ8YaY38M9Vpz2Ec&q=Wallingford%20SportsPark,%20Wallingford&zoom=14" allowfullscreen>
        </iframe>
    </section>
    <section>
        <h2>Under 18s</h2>
        <p>
        Wallingford Castle Archers aim to make archery as accessible as
        possible for young people. However, we also have to ensure that we
        follow safeguarding guidance and help to keep every child safe.
        </p>
        <p>
        Those children of primary school age (up to 11) are classified as
        "minis", with older children under the age of 18 classified as
        "juniors".
        </p>
        <p>
        Minis members may only attend minis sessions. Parents do not need to
        stay for minis sessions. However, those in year 5 or 6 who have
        attained their white arrow award may be invited to attend other
        sessions. For the junior session, parents may leave the child with us.
        For other sessions, they must stay.
        </p>
        <p>
        Junior members may attend open sessions with parental supervision. When
        they have achieved their blue arrow award and have their own equipment,
        they may shoot without supervision at most sessions, subject to
        availability and communication with coaches.
        </p>
    </section>
</div>
{% endblock %}
