{% extends 'base.html' %}

{% block og_image %}targets{% endblock %}

{% block hero %}
<div class="hero hero--targets">
    <h1>Venues</h1>
</div>
{% endblock %}

{% block content %}
<div class="flex-sections">
    <section>
        <h2>Indoor shooting</h2>
        <p>
        Our sessions run from 10am to 4pm every Sunday, and from 6pm to 9pm every Friday. Indoor sessions run from October to March.
        </p>
        <ul>
            <li>
            10:00-11:30 Sundays – Minis session. Term time only. Also runs in
            Summer term.
            </li>
            <li>
            11:30-13:00 Sundays – Junior session. Only junior members will be allowed
            to shoot.
            </li>
            <li>
            13:00-16:00 Sundays – Open session. Junior members of secondary
            school age are welcome, but under 18s must be supervised by an
            adult.
            </li>
            <li>
            18:00-21:00 Fridays – Open session. Junior members of secondary
            school age do not need parental supervision.
            </li>
        </ul>
        <p>
        Our indoor range is based at Wallingford School, in the the Castle
        Sports Hall. We shoot indoors from from October to March.
        </p>
        <iframe
            width="100%"
            height="300"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDGuvasiOAUbxa4w_xoZ8YaY38M9Vpz2Ec&q=Wallingford%20Castle%20Archers%20Indoors,%20Wallingford&zoom=14" allowfullscreen>
        </iframe>
   </section>
    <section>
        <h2>Outdoor shooting</h2>
        <p>
        Our sessions run from 1.30pm to 6pm every Sunday, and from 6pm on Wednesdays and Fridays. Outdoor sessions run from April to September.
        </p>
        <ul>
            <li>
            13:30-15:00 Sundays – Junior session. Only junior members will be allowed
            to shoot, along side any parents, space permitting.
            </li>
            <li>
            15:00-18:00 Sundays – Open session. All members welcome, but under 18s must
            be supervised by an adult.
            </li>
            <li>
            18:00-dusk Wednesdays – open session. Juniors welcome but parents or guardians must be present. 
            </li>
            <li>
            18:00-dusk fridays – open session. Juniors are not required to be supervised.
            </li>
        </ul>
        <p>
        Our outdoor range is based at Wallingford Sports Park, on the northern fields.
        We shoot outdoors from from April to September
        </p>
        <iframe
            width="100%"
            height="300"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDGuvasiOAUbxa4w_xoZ8YaY38M9Vpz2Ec&q=Wallingford%20SportsPark,%20Wallingford&zoom=14" allowfullscreen>
        </iframe>
    </section>
</div>
{% endblock %}
