{% extends 'base.html' %}

{% block title %}{{ group }} - {{ season }}{% endblock %}

{% block content %}
<a href="{% url 'coaching:overview' %}">< Back to list of groups</a>
<h2>{{ group }}</h2>
<h3>Archers</h3>
<table class="table">
    <thead>
        <th>Name</th>
        <th>DOB</th>
        <th>AGB number</th>
        <th>Badges</th>
    <thead>
    {% for archer in archers %}
    <tr>
        <td data-email="{{ archer.user.email }}">{{ archer }}</td>
        <td>{{ archer.date_of_birth }}</td>
        <td>{% if archer.agb_number %}{{ archer.agb_number }}{% else %}Pending{% endif %}</td>
        <td>
            Outdoor: {{ archer.best_outdoor.name|default:"None" }}<br>
            Portsmouth: {{ archer.best_portsmouth.name|default:"None" }}<br>
            WA18: {{ archer.best_wa_18.name|default:"None" }}<br>
            Beginner: {{ archer.best_beginner.name|default:"None" }}
        </td>
    </tr>
    {% endfor %}
    {% for trial in current_trials %}
    <tr>
        <td data-email="{{ trial.archer.user.email }}">
            {{ trial.archer }}
        </td>
        <td>{{ trial.archer.date_of_birth }}</td>
        <td>Trial ends {{ trial.session_4.date }}</td>
    </tr>
    {% endfor %}
</table>

<h3>Group details</h3>
<p>Meets on {{ group.time }}</p>
<p>Coached by:
    {% for coach in group.coaches.all %}
        {{ coach }}
    {% endfor %}
</p>
{% if user.is_superuser %}
<a id="email" href="#">Copy group emails</a>
<script type="text/javascript">
    document.getElementById('email').addEventListener('click', function(ev) {
        ev.preventDefault();
        var emails = [];
        document.body.querySelectorAll(('[data-email]')).forEach(function(el) {
            emails.push(el.dataset.email);
        });
        navigator.clipboard.writeText(emails.join(' ')).then(function() {
            ev.target.innerHTML = 'Done!';
        });
    });
</script>
{% endif %}

{% endblock %}
