{% extends 'base.html' %}

{% block title %}Coaching - {{ season }}{% endblock %}

{% block content %}
<h2>Coaching - {{ season }}</h2>
{% if coached_groups %}
<h3>Groups you are coaching</h3>
<div class="flex-sections">
{% for group in coached_groups %}
    <section class="coaching__group-details">
        <h3>{{ group.group_name }} </h3>
        <p>Meets on {{ group.time }}</p>
        <p>Coached by:
            {% for coach in group.coaches.all %}
                {{ coach }}
            {% endfor %}
        </p>
        <p>
        Participants: {{ group.participants.count }}
        {% if group.trial_set.filter_ongoing.count %}
        <br>
        Current trials: {{ group.trial_set.filter_ongoing.count }}
        </p>
        {% endif %}
        <p><a href="{% url 'coaching:group-report' pk=group.pk group=group.slug %}">View report ></a></p>
    </section>
{% endfor %}
</div>
{% if uncoached_groups %}
<h3>Groups you are NOT coaching</h3>
<div class="flex-sections">
{% for group in uncoached_groups %}
    <section class="coaching__group-details">
        <h3>{{ group.group_name }} </h3>
        <p>Meets on {{ group.time }}</p>
        <p>Coached by:
            {% for coach in group.coaches.all %}
                {{ coach }}
            {% endfor %}
        </p>
        <p>
        Participants: {{ group.participants.count }}
        {% if group.trial_set.filter_ongoing.count %}
        <br>
        Current trials: {{ group.trial_set.filter_ongoing.count }}
        </p>
        {% endif %}
        <p><a href="{% url 'coaching:group-report' pk=group.pk group=group.slug %}">View report ></a></p>
    </section>
{% endfor %}
</div>
{% endif %}
{% else %}
<p>This page is for coaches only at present</p>
{% endif %}

{% if upcoming %}
<h2>Upcoming - {{ upcoming }}</h2>
<h3>Groups you are coaching</h3>
<div class="flex-sections">
{% for group in upcoming_groups %}
    <section class="coaching__group-details">
        <h3>{{ group.group_name }} </h3>
        <p>Meets on {{ group.time }}</p>
        <p>Coached by:
            {% for coach in group.coaches.all %}
                {{ coach }}
            {% endfor %}
        </p>
        <p>
        Participants: {{ group.participants.count }}
        {% if group.trial_set.filter_ongoing.count %}
        <br>
        Current trials: {{ group.trial_set.filter_ongoing.count }}
        </p>
        {% endif %}
        <p><a href="{% url 'coaching:upcoming-group-report' pk=group.pk group=group.slug %}">View report ></a></p>
    </section>
{% endfor %}
</div>
{% if upcoming_uncoached_groups %}
<h3>Groups you are NOT coaching</h3>
<div class="flex-sections">
{% for group in upcoming_uncoached_groups %}
    <section class="coaching__group-details">
        <h3>{{ group.group_name }} </h3>
        <p>Meets on {{ group.time }}</p>
        <p>Coached by:
            {% for coach in group.coaches.all %}
                {{ coach }}
            {% endfor %}
        </p>
        <p>
        Participants: {{ group.participants.count }}
        {% if group.trial_set.filter_ongoing.count %}
        <br>
        Current trials: {{ group.trial_set.filter_ongoing.count }}
        </p>
        {% endif %}
        <p><a href="{% url 'coaching:upcoming-group-report' pk=group.pk group=group.slug %}">View report ></a></p>
    </section>
{% endfor %}
</div>
{% endif %}
{% endif %}

{% endblock content %}
